
<div class="container-fluid text-white bg-dark ">
    <div class="row justify-content-center text-center">
        <hr>
        <div class="col-3">
            <h1>Siguenos en</h1>
            <a href="https://www.instagram.com/">Instagram</a>
        </div>
        <div class="col-3">
            <h1>Encuentranos en</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.181173007672!2d-74.86490958588163!3d11.025029857572056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d3330174285%3A0x221e664fb10bfe76!2sMarketPlace%20CCE!5e0!3m2!1ses-419!2suy!4v1652055629816!5m2!1ses-419!2suy" width="150" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-3">
            <h1>Escribenos en</h1>
            <a href="https://web.whatsapp.com/">Whatsapp</a>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-3">
            <a href="">Quienes somos</a>
        </div>
        <div class="col-3">
            <a href="">Politicas</a>
        </div>
        <div class="col-3">
            <h1>Contactenos</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center text-center">
        <div class="col-3">
            <h1>MarketPlace Inc</h1>
        </div>
    </div>
</div>
